{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="page-header text-center">Welcome {{ app.user ? app.user.email : 'Aquanauts'}} Aquanauts!</h1> {# if app.user is a user object then print out their email, if not then just print 'Aquanauts'#}
{% endblock %}
